@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth@75..100&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: #6A859c;
  line-height: 1.8;
}

/* ---------- HEADER------------ */

.header {
  padding: 20px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69B9FF;
}

.header-nav ul {
  display: flex;
}

.header-nav li + li {
  margin-left: 40px;
}

.header-nav a {
  font-size: 16px;
  color: #676770;
  transition: color 0.2s;
}

.header-nav a:hover {
  color: #0082F3;
}

.header-nav a:active {
  color: #0062B6;
}

/* -------------- MAIN------------ */

.main {

}

/* -------------- WELCOME --------- */

.welcome {
  padding: 195px 0;
  min-height: 600px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #282936;
  background-image: url("images/bike.png");
  background-size: cover;
  background-position: center;
}

.welcome-heading {
  margin-bottom: 100px;
  font-size: 59px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.welcome-links > * + * {
  margin-left: 20px;
}

.link-primary {
  display: inline-block;
  padding: 11px 30px;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: #69B9FF;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.link-primary:hover {
  background-color: #7cc2ff;
}

.link-primary:active {
  background-color: #0f8fff;
}

.link {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  letter-spacing: 2px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

.link:active {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.5);
}

/* ------------ ABOUT ---------- */

.about {
}

.common-section {
  text-align: center;
  padding: 80px 0;
}

.title {
  margin-bottom: 17px;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #676770;
}

.subtitle {
  font-size: 17px;
  line-height: 1.2px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8E8E9C;
}

.title-wrapper {
  margin-bottom: 60px;
}

.about .cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.about .card {
  padding: 35px 15px 20px;
  width: 300px;
  border: 1px solid #Dcebf7;
  border-radius: 5px;
}

.about .card img {
  margin-bottom: 20px;
  width: 94px;
  height: 94px;
  object-fit: contain;
}

.about .card h4 {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #676770;
}

.common-section--dark {
  background-color: #192024;
}

.common-section--dark {
  color: #fff;
}

.common-section--dark .subtitle {
  color: #e8e8e8;
}

.sevices .cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.sevices .card {
  width: 45%;
}

.sevices .card img {
  margin-bottom: 20px;
}

.sevices .card h4 {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.services .link {
  margin-top: 45px;
}

